body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.activeX{
  border-color: #464545 #464545 #464545;
  text-decoration: none;
  background-color: #303030;
}

ul.dropdown-menu{
  width: 100%;
}

.params-table td.text-center{
  vertical-align: middle;  
}

.params-table td.text-right{
  white-space: nowrap;
}

.alert{
  position:fixed;
  z-index:9999;
  margin-left:45%;
}

.navbar.navbar-inverse{
  height:65px;
}

/* .table-head-fixed{
  position: fixed;
} */