body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.activeX{
  border-color: #464545 #464545 #464545;
  text-decoration: none;
  background-color: #303030;
}

ul.dropdown-menu{
  width: 100%;
}


